@charset "ISO-8859-1";

.tmtDiv{
	display: inline-block;
	margin-top : 50px;
	margin-left: 20%;
	width: 60%;
	height: 300px;
	border: 2px solid #061A2D;
	background-color: #CCE1E9;
	
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}


.title{
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	display: block;
	margin-top: 10px;
	margin-bottom: 30px;
}

.lbl{
	text-align: center;
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}

.logo{
	margin-left: 100px;
	width: 100px;
	height: 100px;
}



.formDiv{
	display: inline-block;
	margin-top: 50px;
	text-align: center;
	width: 100%;
}

.formDiv select {
	font-size: 15px;
	height: 30px;
	width: 200px;
	text-align: center;
	text-align-last: center; 
}

.formDiv input[type=submit] {
	background-color: #296581;
	font-size: 16px;
	color: white;
	border: none;
	cursor: pointer;
	width: 150px;
	margin-left: 20px;
	line-height: 30px;
	border-radius: 25px;
}

.formDiv input[type=submit]:hover{
	background-color: #4CA1D8;
}

.formDiv input[type=submit]:active{
	transform: scale(0.9);
}