@charset "ISO-8859-1";

.title-label {
	font-size: 22px;
	font-family: "Papyrus", fantasy;
	color: #296581;
	text-align: center;
	display: block;
	padding-top: 30px;
}

.radio-group {
	margin-top: 20px; 
	text-align : center;
	display: inline-block;
	align-content: center;
	width: 100%;
	text-align: center;
}

.radio-group input[type=radio] {
	display: inline-block;
}

.radio-group .btn {
	background-color: #296581;
	font-size: 16px;
	color: white;
	border: none;
	cursor: pointer;
	width: 150px;
	margin-left: 20px;
	line-height: 35px;
	border-radius: 25px;
}


.radio-group .btn:hover{
	background-color: #4CA1D8;
}

.radio-group .btn:active{
	transform: scale(0.9);
}
.scrollPane {
	border: 2px solid #061A2D;
	margin-left: 10%;
	margin-right: 10%;
	height: 350px;
	margin-top: 40px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.notif {
	display: flex;
	align-items: center; height : 100px;
	width: 100%;
	background-color: #CCE1E9;
	text-align: center;
	border: 10px solid white;
	vertical-align: middle;
	height: 100px;
}

.msg {
	font-size: 18px;
	text-align: center;
	width: 90%;
	display: block;
	margin-left: 5%;
}