@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

.topnav {
	position: absolute; 
	height: 50px;
	width: 100%;
	background-color: #296581;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	cursor: pointer;
}

.topnav a:hover {
	background-color: #4CA1D8;
}

.topnav a:active {
	background-color: #4CA1D8;
}
