.btnClose{
	-fx-background-color: #949494;
	background-color: #949494;	
}
.btnClose:hover{
	-fx-background-color : #296581; 
	background-color : #296581;
}

.pnDark{
	-fx-background-color: #061A2D;
	background-color: #061A2D;
}

.pnLight{
	-fx-background-color: #296581;
	background-color: #296581;
}

.btn{
 -fx-background-color : #061A2D;
 background-color : #061A2D;
}
.btn:hover{
	-fx-background-color: #4CA1D8;
	background-color: #4CA1D8;
}
.btn:active:hover {	
  	-fx-scale-x: 0.9;
  	-fx-scale-y: 0.9;
}